---
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Industrialist">
  <main class="font-serif gradientbg min-h-screen w-full mx-auto">
    <div
      class="px-4 md:px-0 md:max-w-3xl w-full flex flex-col items-center mx-auto gap-4 py-24"
    >
      <h1 class="text-2xl md:text-3xl w-full font-medium">The Industrialist</h1>
      <div class="text-sm md:text-base flex flex-col gap-y-4">
        <p>
          A journal to document the story and journey of the backbone of
          India&rsquo;s economy &ndash; The Industrialists.
        </p>
        <p>
          There are probably eight-hundred-and-twelve interviews with Sam Altman
          or some SaaS founder, but we can rarely find a really good interview
          with someone from the heavy industries. Unlike the startup world,
          heavy industry does not receive much attention, and nobody interviews
          industrialists. These individuals hold vast amounts of heuristics and
          knowledge about building successful businesses, understanding how
          things work, and providing specific context about India.
        </p>
        <p>
          The thing you are reading this on is a product of a factory. The thing
          you are sitting on, again, is a product of a factory. The thing that
          is making you not sweat -
        </p><p>Well yeah you probably get the point now.</p>
        <p>
          If we want to become a self-sustaining industrial state; like America,
          like China, like Russia, like Germany, then we need to <span
            class="font-semibold italic">accelerate</span
          >. We need more smart people pursuing this. We need to inspire the new
          generation to get into manufacturing. And to do that we need to show
          them this side of the world, for sports and fantasy fiction will take
          you no far.
        </p><p>
          To begin with we plan to release interviews with industrialists and
          their factory tours and journal them. Eventually we want to create a
          physical magazine. Well, uncountable for fashion, entertainment, music
          why not one for this for the mass? Yes, for everyone. The thing that
          makes those things possible. Do not say it is not of everyone&rsquo;s
          interest, for interest needs to be developed. It will not come
          it&rsquo;s own, right?
        </p>
        <p>
          This has been started by a group friends &ndash; <a
            href="https://x.com/_r3sist"
            class="underline hover:opacity-60"
            target="_blank">Aman</a
          >, <a
            href="https://x.com/theblapse"
            class="underline hover:opacity-60"
            target="_blank">Badal</a
          >, <a
            href="https://x.com/khushhhi_"
            class="underline hover:opacity-60"
            target="_blank">Khushi</a
          >
          , <a
            href="https://x.com/pasricha_sehaj"
            class="underline hover:opacity-60"
            target="_blank">Sehaj</a
          > &ndash; who thinks that <a
            href="https://www.industrialmars.com/posts/factorio-part-1"
            class="underline hover:opacity-60"
            target="_blank">maybe the meaning of life</a
          > is to play <a
            href="https://en.wikipedia.org/wiki/Factorio"
            class="underline hover:opacity-60"
            target="_blank">factorio.</a
          >
        </p>
        <p>
          Finally, if you are an industrialist or happen to know anyone, we
          would really appreciate you writing to us at <a
            href="mailto:contact@theindustralist.org"
            class="underline">contact@theindustralist.org</a
          >, or <a
            href="https://x.com/theblapse"
            class="hover:opacity-60"
            target="_blank">&Xopf; if you may. (yes, ok, fka twitter)</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>

<style>
  .gradientbg {
    background: linear-gradient(180deg, #fdf8ed 15.35%, #fff 100%);
  }
</style>
